.logo{
     height: 42px;
    width: 69px;
    border-radius: 24px;
    margin-top: 2px;
}
.dropdown-menu{
    margin-top: 11px;
    padding: 8px 25px;
    line-height: 27px;
    font-size: 16px;
    margin-left: -199px;
}
.abutton{
width: 63px;
    margin-left: 999px;
    height: 26px;
    font-size: 12px;
    border-radius: 24px;
}
  
  
  
  
  
  