<div class="col-sm-3">
    <div class="wrapper">
        <div id="sidebar" style="margin-left: -20px;;
                position: absolute;
                padding-left: 6px;">
            <ul class="list-unstyled components" style="font-size: 14px;">
                <li>
                    <a><i class="fa fa-eye"></i><span style="padding-left: 12px;">Overview</span></a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fa fa-rocket"></i><span style="padding-left: 12px;">Product Settings</span></a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a><i class="fa fa-user-circle-o"></i><span
                                    style="padding-left: 12px;">Brand</span></a>
                        </li>
                        <li>
                            <a><i class="fa fa-user-circle-o"></i><span
                                    style="padding-left: 12px;">Category</span></a>
                        </li>
                        <li>
                            <a><i class="fa fa-user-circle-o"></i><span
                                    style="padding-left: 12px;">Sub Category</span></a>
                        </li>
                        <li>
                            <a><i class="fa fa-user-circle-o"></i><span
                                    style="padding-left: 12px;">Products HSN</span></a>
                        </li>
                       
                    </ul>
                </li>
               
                <li>
                    <a><i class="fa fa-rocket"></i><span style="padding-left: 12px;">Products List</span></a>
                </li>
            </ul>
        </div>
    </div>