<!-- <div class="container-fluid" style="background-color: whitesmoke;height: 100vh;">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-md-6" style="margin-top: 66px;">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Please generate your newpassword</h3>
                </div>

                <form [formGroup]="newpasswordform" (ngSubmit)="onSubmit()">
                    <div class="card-body">
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Address</label>
                            <input type="text" placeholder="Email" formControlName="email" class="form-control" />
                            <div *ngIf="adduserform.controls['email'].invalid && (adduserform.controls['email'].dirty || adduserform.controls['email'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="adduserform.controls['email'].errors.required"
                                    style="font-size: 10px;">
                                    Email is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Old Password</label>
                            <input type="password" placeholder="oldpassword" formControlName="oldpassword" class="form-control" />
                            <div *ngIf="adduserform.controls['oldpassword'].invalid && (adduserform.controls['oldpassword'].dirty || adduserform.controls['oldpassword'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="adduserform.controls['oldpassword'].errors.required"
                                    style="font-size: 10px;">
                                    Old Password is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">New Password</label>
                            <input type="password" placeholder="oldpassword" formControlName="newpassword" class="form-control" />
                            <div *ngIf="adduserform.controls['newpassword'].invalid && (adduserform.controls['newpassword'].dirty || adduserform.controls['newpassword'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="adduserform.controls['newpassword'].errors.required"
                                    style="font-size: 10px;">
                                    Newpassword is required.
                                </div>
                            </div>
                        </div>

                        

                    </div>

                    <div class="card-footer">
                        <button type="submit" value="submit" class="btn btn-success"
                            style="width:100px">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3"> </div>

    </div>
</div> -->


<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="text-center">Change Password</h2>
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                        <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['emailId'].valid && changePasswordForm.controls['emailId'].touched}">
                                <label for="emailId">Email</label>
                                <input type="email" name="emailId" class="form-control" id="newPassword" placeholder="Confirm New Password" [formControl]="changePasswordForm.controls['emailId']" />
                                <small *ngIf="changePasswordForm.controls['emailId'].hasError('required') && changePasswordForm.controls['emailId'].touched" class="text-danger">Email New Required</small>
                                
                            </div>
                    <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['old_password'].valid && changePasswordForm.controls['old_password'].touched}">
                        <label for="old_password">Old Password</label>
                        <input type="password" name="old_password" class="form-control" id="oldPassword" placeholder="Old Password" formControlName="old_password" />
                        <small *ngIf="changePasswordForm.controls['old_password'].hasError('required') && changePasswordForm.controls['old_password'].touched" class="text-danger">Old Password Required</small>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['new_password'].valid && changePasswordForm.controls['new_password'].touched}">
                        <label for="new_password">New Password</label>
                        <input type="password" name="new_password" class="form-control" id="newPassword" placeholder="New Password" formControlName="new_password" />
                        <small *ngIf="changePasswordForm.controls['new_password'].hasError('required') && changePasswordForm.controls['new_password'].touched" class="text-danger">New Password Required</small>
                    </div>
                    
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-default" [disabled]="!changePasswordForm.valid">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
