.login-block{
 background: #DE6262;  
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  
background: linear-gradient(to bottom, #FFB88C, #DE6262); 
float:left;
width:100%;
padding : 50px 0;
}
.logo{
    width: 87px;
    height: 65px;
    margin-left: 115px;
}
.banner-sec{
    background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; 
    background-size:cover;
     min-height:500px; 
    border-radius: 0 10px 10px 0;
     padding:0;
 }
.container{
    background:#fff;
     border-radius: 10px;
      box-shadow:15px 20px 0px rgba(0,0,0,0.1);
    }
.carousel-inner{
    border-radius:0 10px 10px 0;
}

.login-sec{
    padding: 50px 30px;
     position:relative;
    }
.login-sec .copy-text{
    position:absolute; 
    width:80%; 
    bottom:20px;
     font-size:13px;
      text-align:center;
    }
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px;
     color: #DE6262;
    }

.btn-login{
    background: #DE6262;
     color:#fff;
      font-weight:600;
    }

    .modal fade{
        width: 150px;
        margin-left: 150px;
    }