<div class="row" style="margin-top:20px;">
        <div class="col-sm-3">
                <app-sidenav></app-sidenav>
        </div>
        <div class="col-sm-9">
                <h4>Roles</h4>
                <hr>
                <div class="row" style="margin-top: 18px;">
                        <div class="col-sm-3">
                                <div class="card  boxed cast-shadow-light-mb0">
                                        <div class="card-body" style="text-align: center;height: 130px;">

                                                <br>
                                                <h5 style="font-size: 19px;color: mediumvioletred;">Admins</h5>

                                                <div class="bagde">
                                                        <span class="badge badge-primary ab ">9</span>
                                                </div>
                                        </div>
                                </div>

                        </div>
                        <div class="col-sm-3">
                                <div class="card  boxed cast-shadow-light-mb0">
                                        <div class="card-body" style="text-align: center;height: 130px;">

                                                <br>
                                                <h5 style="font-size: 19px;color: mediumvioletred;">Employee</h5>

                                                <div class="bagde">
                                                        <span class="badge badge-primary ab ">9</span>
                                                </div>
                                        </div>
                                </div>

                        </div>
                        <div class="col-sm-3">
                                <div class="card  boxed cast-shadow-light-mb0">
                                        <div class="card-body" style="text-align: center;height: 130px;">

                                                <br>
                                                <h5 style="font-size: 19px;color: mediumvioletred;">Support</h5>

                                                <div class="bagde">
                                                        <span class="badge badge-primary ab ">9</span>
                                                </div>
                                        </div>
                                </div>

                        </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-3">
                                <div class="card  boxed cast-shadow-light-mb0">
                                        <div class="card-body" style="text-align: center;height: 130px;">

                                                <br>
                                                <h5 style="font-size: 19px;color: mediumvioletred;">Aspadmin</h5>

                                                <div class="bagde">
                                                        <span class="badge badge-primary ab ">9</span>
                                                </div>
                                        </div>
                                </div>

                        </div>
                        <div class="col-sm-3">
                                <div class="card  boxed cast-shadow-light-mb0">
                                        <div class="card-body" style="text-align: center;height: 130px;">

                                                <br>
                                                <h5 style="font-size: 19px;color: mediumvioletred;">Aspemployee</h5>

                                                <div class="bagde">
                                                        <span class="badge badge-primary ab ">9</span>
                                                </div>
                                        </div>
                                </div>

                        </div>
                </div>
        </div>
</div>