<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-3">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-sm-9" >
            <h4 style="font-size: 18px;">Products</h4>
            <hr>
            <p style="font-size: 11px;">setting ><span style="color: rgb(56, 54, 54);">Details</span></p>
            <div class="card" style="width: 91rem;
                height: 80vh;font-size: 14px;">
                <div class="card-header products">
                    Products Lists
                    <button style="float:right;border-radius: 24px;font-size: 14px;" type="button" (click)="addproduct()"
                        class="btn btn-dark">Add Product</button>
                    <button style="float:right;margin-right: 22px;border-radius: 24px;font-size: 14px;" type="button"
                        class="btn btn-dark">Bulk Product</button>

                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S No</th>
                                <th>Product Name</th>
                                <th>Product Description</th>
                                <th> ProductSMU</th>
                                <th>Unit Rate</th>
                                <th>Brand</th>
                                <th>Category</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-danger">
                                <td>1</td>
                                <td>Moe</td>
                                <td>mary@example.com</td>
                                <td></td>
                                <td></td>
                                <td>87</td>
                                <td>skyzen</td>
                                <td>machine</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>