<div class="container-fluid">
    <div class="row" style="margin-top:20px;">

        <div class="col-sm-3">
            <app-sidenav></app-sidenav>
        </div>
    
        <div class="col-sm-9" style="margin-top:27px;font-size: 25px;">
    
            Category Master
            <hr>
            <p style="font-size: 12px;">Setting > <b> Add Product Master</b> </p>
            <div class="card" style="width: 73rem;font-size: 19px;">
                <div class="card-header products">
                    Add Category
                    <button style="float:right;border-radius: 24px;font-size: 14px;" type="button"
                        (click)="viewcategories()" class="btn btn-dark">View Categories</button>
                </div>
                <div class="card-body">
                    <form [formGroup]="categoryform" (ngSubmit)="onSubmit()">
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-size: 16px;">Brand Name <span style="color: red;">*</span></label>
                                <input type="text" formControlName="brandname" class="form-control"
                                    placeholder="Brand Name" />
                                <div *ngIf="categoryform.controls['brandname'].invalid && (categoryform.controls['brandname'].dirty || categoryform.controls['brandname'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="categoryform.controls['brandname'].errors.required" style="font-size: 8px;">
                                        BrandName is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-size: 16px;">Category Name <span style="color: red;">*</span></label>
                                <input type="text" formControlName="categoryname" class="form-control"
                                    placeholder="Category Name" />
                                <div *ngIf="categoryform.controls['categoryname'].invalid && (categoryform.controls['categoryname'].dirty || categoryform.controls['categoryname'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="categoryform.controls['categoryname'].errors.required"
                                        style="font-size: 8px;">
                                        Category Name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-size: 16px;">Category Alias Name <span style="color: red;">*</span></label>
                                <input type="text" formControlName="categoryaliasname" class="form-control"
                                    placeholder="Category Alias Name" />
                                <div *ngIf="categoryform.controls['categoryaliasname'].invalid && (categoryform.controls['categoryaliasname'].dirty || categoryform.controls['categoryaliasname'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="categoryform.controls['categoryaliasname'].errors.required"
                                        style="font-size: 8px;">
                                        Category Alias Name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" value="submit"   [disabled]="!categoryform.valid" style="width: 100px;
                margin-left: 305px;" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
    
        </div>
    </div>
</div>
