<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-3">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-sm-9">
            <h4>Asp Masters</h4>
            <hr>
            <p style="font-size: 11px;">setting > Details</p>
            <div class="card" style="width: 83rem;font-size: 14px;">
                <div class="card-header products">
                    Asp Lists
                    <button style="float:right;border-radius: 18px;width:105px;font-size: 14px;" type="button"
                        (click)="addasp()" class="btn btn-dark">Add Asp</button>
                    <button style="float:right;margin-right: 22px;border-radius: 18px;width:105px;font-size: 14px;"
                        type="button" class="btn btn-dark">Bulk Asp</button>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S No</th>
                                <th>Asp Name</th>
                                <th>Contact Person</th>
                                <th> Contact</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-danger">
                                <td>1</td>
                                <td>Moe</td>
                                <td>mary@example.com</td>
                                <td>875767676</td>
                                <td>Hyderabad</td>
                                <td>Telangana</td>
                                <td>Normal</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>