.product{
        height: 91px;
        width: 58px;
        padding-top: 36px;
}
.ab{
    
        padding-top: 4px;
        width: 40px;
        height: 20px;
        border-radius: 24px;
        margin-left: 5px;
        font-size: 12px;
}
.boxed {
        padding: 32px;
        background: #f8f8f8;
}