.wrapper {
    display: flex;
    align-items: stretch;
    }
    
    #sidebar {
    min-width: 250px;
    max-width: 250px;
    }
    
    #sidebar.active {
    margin-left: -250px;
    }
    #sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    }
    a[data-toggle="collapse"] {
    position: relative;
    }
    
    .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    }
    @media (max-width: 768px) {
    #sidebar {
    margin-left: -250px;
    }
    #sidebar.active {
    margin-left: 0;
    }
    }
    p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    }
    
    a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    }
    
    #sidebar {
    
    background: #202529;
    color: #fff;
    transition: all 0.3s;
    }
    
    #sidebar .sidebar-header {
    padding: 20px;
    background: #02200c;
    }
    
    #sidebar ul.components {
    padding: 20px 0;
    
    }
    
    #sidebar ul p {
    color: #fff;
    padding: 10px;
    }
    
    #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    }
    #sidebar ul li a:hover {
    color: rgb(1, 22, 1);
    background: #fff;
    }
    
    #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #c7f8d7;
    }
    ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #02200c;
    }
    .form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
    }
    .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 10rem;
    }
    .custom-day.focused {
    background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
    }
    .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
    }
    .product{
        height: 91px;
        width: 58px;
        padding-top: 36px;
    }
    .ab{
    
        padding-top: 4px;
        width: 40px;
        height: 20px;
        border-radius: 24px;
        margin-left: 5px;
        font-size: 12px;
    }
    .boxed {
        padding: 32px;
        background: #f8f8f8;
    }