
<div class="row" style="margin-top:20px;">
    <div class="col-sm-3">
            <app-sidenavproducts></app-sidenavproducts>
    </div>
    <div class="col-sm-9">
            <h4>Product</h4>
            <hr>
            <div class="row" style="margin-top: 18px;">
                    <div class="col-sm-3">
                            <div class="card  boxed cast-shadow-light-mb0">
                                    <img style="height: 100px;width: 150px;" src = "../../assets/scroll1.jpg">

                                    <div class="card-body" style="text-align: center;
                                    height: 50px;
                                    margin-top:-15px;">
                                            <br>
                                            <h5 style="font-size: 15px;color: mediumvioletred;">Product</h5>
                                            <div class="bagde">
                                                    <span class="badge badge-primary ab ">20</span>
                                            </div>
                                    </div>
                            </div>
                    </div>
                    <div class="col-sm-3">
                            <div class="card  boxed cast-shadow-light-mb0">
                                    <img style="height: 100px;width: 150px;" src = "../../assets/scroll2.jpg">

                                    <div class="card-body" style="text-align: center; height: 50px; margin-top:-15px;">
                                            <br>
                                            <h5 style="font-size: 15px;color: mediumvioletred;">Products</h5>
                                            <div class="bagde">
                                                    <span class="badge badge-primary ab ">20</span>
                                            </div>
                                    </div>
                            </div>
                    </div>
                   
            </div>
    </div>
</div>