<div class="container">
    <div class="row" style="margin-top: 69px;">
        <div class="col-sm-3">
                <div class="card  boxed cast-shadow-light-mb0">
                        <div class="card-body"style="text-align: center;height: 173px;">
                                <img class="product" aria-hidden="true" src="../../assets/product.png " >
                                <br>
                                <h5 style="font-size: 17px;color: mediumvioletred;">Product</h5> 
                                
                                <div class="bagde">
                                <span class="badge badge-primary ab ">9</span>
                                </div>
                        </div>
               </div>
                
        </div>
        <div class="col-sm-3">
                <div class="card  boxed cast-shadow-light-mb0"style="text-align: center;">
                        <div class="card-body"style="text-align: center;height: 173px;">
                                <i class="fa fa-shopping-basket" aria-hidden="true"style="font-size: 50px;padding-top: 42px;"></i>
                                <br>
                               <h5 style="font-size: 17px;color: mediumvioletred;">Stock</h5> 
                               <div class="bagde">
                                    <span class="badge badge-primary ab ">1</span>
                                    </div>
                        </div>
               </div>
        </div>

        <div class="col-sm-3">
                <div class="card  boxed cast-shadow-light-mb0"style="text-align: center;">
                        <div class="card-body"style="text-align: center;height: 173px;">
                                <img class="order" src="../../assets/order1.png">
                               <h5 style="font-size: 17px;color: mediumvioletred;">Order</h5> 
                               <div class="bagde">
                                    <span class="badge badge-primary ab ">21</span>
                                    </div>
                        </div>
               </div>
        </div>

        <div class="col-sm-3">
                <div class="card  boxed cast-shadow-light-mb0"style="text-align: center;">
                        <div class="card-body"style="text-align: center;height: 173px;">
                                <img class="marketing" aria-hidden="true" src="../../assets/marketing1.jpg">
                               <h5 style="font-size: 17px;color: mediumvioletred;">Marketing</h5> 
                               <div class="bagde">
                                    <span class="badge badge-primary ab ">15</span>
                                    </div>
                        </div>
               </div>
        </div>
        
       
    </div>
    <br>
    <div class="row">
            
                
            <div class="col-sm-3">
                    <div class="card  boxed cast-shadow-light-mb0">
                            <div class="card-body"style="text-align: center;height: 173px;">
                                    <img class="sales" src="../../assets/sales.png">
                                   <h5 style="font-size: 17px;color: mediumvioletred;">Sales</h5> 
                                   <div class="bagde">
                                        <span class="badge badge-primary ab ">9</span>
                                        </div>
                            </div>
                   </div>
            </div>
            <div class="col-sm-3">
                    <div class="card  boxed cast-shadow-light-mb0"style="text-align: center;">
                            <div class="card-body"style="text-align: center;height: 173px;">
                                    <img class="purchase" src="../../assets/purchase.png">
                                   <h5 style="font-size: 17px;color: mediumvioletred;">Purchase</h5> 
                                   <div class="bagde">
                                        <span class="badge badge-primary ab ">17</span>
                                        </div>
                            </div>
                   </div>
            </div>
            <div class="col-sm-3">
                    <div class="card  boxed cast-shadow-light-mb0"style="text-align: center;">
                            <div class="card-body"style="text-align: center;height: 173px;">
                                    <img class="finance" src="../../assets/finance.png">
                                   <h5 style="font-size: 17px;color: mediumvioletred;">Finance</h5> 
                                   <div class="bagde">
                                        <span class="badge badge-primary ab ">101</span>
                                        </div>
                            </div>
                   </div>
            </div>
            <div class="col-sm-3">
                    <div class="card  boxed cast-shadow-light-mb0"style="text-align: center;">
                            <div class="card-body"style="text-align: center;height: 173px;">
                                   <img class="crm" src="../../assets/crm1.png" (click)="crm()">
                                   <h5 style="font-size: 17px;color: mediumvioletred;">CRM</h5>
                                   <div class="bagde">
                                        <span class="badge badge-primary ab ">89</span>
                                        </div> 
                            </div>
                   </div>
            </div>
        </div>
        <br>
        <div class="row">
                <div class="col-sm-3">
                        <div class="card  boxed cast-shadow-light-mb0"style="text-align: center;">
                                <div class="card-body"style="text-align: center;height: 173px;">
                                        <img class="employees" src="../../assets/employees.png">
                                       <h5 style="font-size: 17px;color: mediumvioletred;">Employees</h5> 
                                       <div class="bagde">
                                            <span class="badge badge-primary ab ">999</span>
                                            </div>
                                </div>
                       </div>
                </div>
                    
                <div class="col-sm-3">
                        <div class="card  boxed cast-shadow-light-mb0">
                                <div class="card-body"style="text-align: center;height: 173px;">
                                        <img class="expenses" src="../../assets/expenses.png">
                                       <h5 style="font-size: 17px;color: mediumvioletred;">Expenses</h5> 
                                       <div class="bagde">
                                            <span class="badge badge-primary ab ">500</span>
                                            </div>
                                </div>
                       </div>
                </div>
                <div class="col-sm-3">
                        <div class="card feature boxed cast-shadow-light-mb0"style="text-align: center;">
                                <div class="card-body"style="text-align: center;height: 173px;">
                                        <img class="plant" src="../../assets/plant2.png">
                                       <h5 style="font-size: 17px;color: mediumvioletred;">Plant</h5> 
                                       
                                </div>
                       </div>
                </div>
                <div class="col-sm-3">
                        <div class="card  boxed cast-shadow-light-mb0"style="text-align: center;">
                                <div class="card-body"style="text-align: center;height: 173px;">
                                        <img class="schemas" src="../../assets/schemes1.png">
                                       <h5 style="font-size: 17px;color: mediumvioletred;">Schemes</h5> 
                                       
                                </div>
                       </div>
                </div>
            </div>
            <br>
            <div class="row">
                    <div class="col-sm-12">
                            <div class="card  boxed cast-shadow-light-mb0">
                                    <div class="card-body"style="text-align: center;height: 173px;">
                                            <img class="setting" aria-hidden="true" src="../../assets/setting.png" (click)="setting()">
                                            <h5 style="font-size: 17px;color: mediumvioletred;">Setting</h5> 
                                            
                                    </div>
                           </div>
                            
                    </div>
                      </div>
             </div>
            