<div class="col-sm-3">
    <div class="wrapper">
        
        <div id="sidebar" style="margin-left: -25px;;
                position: absolute;
                padding-left: 6px;">


            <ul class="list-unstyled components" style="font-size: 14px;">
                <li>
                    <a> <i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Roles</span></a>
                </li>
                <li>
                    <a> <i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Users/Logins</span></a>
                </li>
                <li>
                    <a> <i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Voucher Type</span></a>
                </li>


                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fa fa-bicycle"></i><span style="padding-left: 12px;">Masters</span></a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a (click)="skyzenproducts()"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Skyzen Products</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Skyzen Parts</span></a>
                        </li>
                        <li>
                            <a (click)="asp()"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Asp</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Distributor</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Executive</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Detailers/Retailers</span></a>
                        </li>
                        <li>
                            <a (click)="category()"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Category</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Products</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fa fa-rocket"></i><span style="padding-left: 12px;">Ledger Reporting</span></a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Credit Notes</span></a>
                        </li>
                        <li>
                            <a><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Debit Notes</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Journal Entries</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Ledger</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user-circle-o"></i><span style="padding-left: 12px;">Purchase</span></a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a><i class="fa fa-rocket"></i><span style="padding-left: 12px;">Rule Engine</span></a>
                </li>

            </ul>
        </div>

    </div>