<div class="container-fluid">
    <nav class="fixed-nav-bar">
<div class="row"  style="margin-top: 51px; position: -webkit-sticky;">
    
        <div class="card active" style="margin-left:17px">
          <div class="card-body active " style="height: 35px;
          width: 98px;background: ghostwhite;">
          
                    <h5 class="middle">Products</h5>
                 
          </div>
        </div> 
        <div class="card active" style="margin-left:10px;">
          <div class="card-body"  style="height: 35px;
          width: 98px;background: ghostwhite;">
                    <h5 class="middle">Stock</h5>
          </div>
        </div> 
        <div class="card active" style="margin-left:10px;">
          <div class="card-body" style="height: 35px;
          width: 98px;background: ghostwhite;">
                    <h5 class="middle">Orders</h5>
          </div>
        </div> 
        <div class="card active" style="margin-left:10px;">
          <div class="card-body" style="height: 35px;
          width: 98px;background: ghostwhite;">
                    <h5 class="middle">Marketing</h5>
          </div>
        </div> 
        <div class="card active" style="margin-left:10px;">
          <div class="card-body" style="height: 35px;
          width: 98px;background: ghostwhite;">
                    <h5 class="middle">Sales</h5>
          </div>
        </div> 
        
         
        <div class="card active" v-model="tabIndex"  style="margin-left:10px;">
          <div class="card-body"(click)="crm()"  style="height: 35px;
          width: 98px;background: ghostwhite">
                    <h5 class="middle">CRM</h5>
          </div>
        </div> 
        <div class="card active" style="margin-left:10px;">
          <div class="card-body" style="height: 35px;
          width: 98px;background: ghostwhite;">
                    <h5 class="middle">Employees</h5>
          </div>
        </div> 
        
        <div class="card active" style="margin-left:10px;">
          <div class="card-body" style="height: 35px;
          width: 98px;background: ghostwhite;">
                    <h5 class="middle">Plant</h5>
          </div>
        </div> 
      </div>
      </nav>
        
        </div>

 
