<div class="container-fluid">
  <nav class="fixed-nav-bar">
    <div class="row" style="margin-top: 51px; position: -webkit-sticky;">

      <div style="margin-left:17px">
        <button type="button" style="background: ghostwhite;height: 44px;
            width: 90px;font-size:15px">Product</button>

      </div>

      <div style="margin-left:10px;">
        <button type="button" style="background: ghostwhite;height: 44px;
          width: 90px;font-size: 15px;">Orders</button>
      </div>
      <div style="margin-left:10px;">
        <button type="button" style="background: ghostwhite;height: 44px;
          width: 90px;font-size: 15px;">Marketing</button>
      </div>
      <div style="margin-left:10px;">
        <button type="button" style="background: ghostwhite;height: 44px;
          width: 90px;font-size: 15px;">Sales</button>
      </div>

      <div style="margin-left:17px">
        <button type="button" (click)="crm()" style="background: ghostwhite;height: 44px;
          width: 90px;font-size:15px">CRM</button>

      </div>
      <div style="margin-left:10px;">
        <button type="button" style="background: ghostwhite;height: 44px;
        width: 90px;font-size: 15px;">Employees</button>
      </div>
      <div style="margin-left:10px;">
        <button type="button" style="background: ghostwhite;height: 44px;
        width: 90px;font-size: 15px;">Plant</button>
      </div>
    </div>
  </nav>

</div>